NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWNlLWNhaW1hbi01Mi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_85jsgQQtvsHX3V5qlrzwa8Bfg6r61d8CjQSmu6EOF1
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

NEXT_PUBLIC_CLERK_FRONTEND_API=KEY
NEXT_PUBLIC_SUPABASE_URL=KEY
NEXT_PUBLIC_SUPABASE_KEY=KEY


WEBHOOK_SECRET=KEY
MONGODB_URI=URL